{{#each data}}
  <li class="card text-center col pielucha-template" data-key="{{key}}">
    <div class="card-body">
      <div class="card-top row justify-content-between">
        <div class="stars-box text-muted row">
          <img src="/images/star.png" class="star">
          <p class="mr-1">5,0</p>
        </div>
        <div class="heart-box">
          <img src="/images/hear2.png" class="heart" key="{{key}}">
        </div>
      </div>
      <div class="embed-responsive embed-responsive-1by1">
        <img src={{printimage}} class="img embed-responsive-item rounded pielucha-image"/>
      </div>
      <div class="row justify-content-between">
        <div class="col-auto">
          <a href="#application" class="card-link text-warning">{{producer-name}}</a>
        </div>
        <div class="col-auto">
          <div class="row m-0 text-muted">
            {{printsizes}}
          </div>
        </div>
      </div>
      <h5 class="text-primary">{{item-name}}</h5>
    </div>
  </li>
{{/each}}