<div id="{{question-id}}-box" class="form-group flex-column col-12">
  <label for="{{question-id}}">{{text}}</label>
  <select id="{{question-id}}" class="col-12 form-input select {{fabrics}}" selectpicker multiple {{#if required}} required {{/if}} >
  </select>
</div>